<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fantasia</title>
    <link rel="stylesheet" href="/css/fantasia.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Oswald:wght@200..700&family=Permanent+Marker&family=Sedan+SC&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Libros de Fantasia</h1>
    </header>
    <nav>
        <a href="/index.html">Punto de lectura</a>
    </nav>
    <main>
        <section>
            <h2>Harry Potter</h2>
        <article>
            <p>Harry Potter y la piedra filosofal es el primer libro de la serie literaria Harry Potter, escrito por la autora británica 
                J. K. Rowling en 1997. La historia sigue a Harry, un niño que descubre que es hijo de dos poderosos magos y que tiene poderes
                 mágicos. Invitado a asistir al Colegio Hogwarts de Magia y Hechicería, Harry se embarca en una aventura que cambiará su vida
                  para siempre.</p>
                  <img src="/img/harry potter.webp" alt="Harry Potter">
        </article>

        </section>

       <section>
            <h2> Percy Jackson y el ladrón del rayo</h2>
            <article>
            <p>El ladrón del rayo (título original en inglés: The Lightning Thief) es un libro escrito por Rick Riordan. 
                Es el primer libro de la serie Percy Jackson y los dioses del Olimpo, que cuenta las aventuras de un chico actual 
                de doce años, Percy Jackson, cuando descubre que es un semidiós; el hijo de una mortal, Sally Jackson, y del dios griego, 
                Poseidón. Percy y sus amigos realizan una búsqueda para prevenir una guerra apocalíptica entre los dioses griegos Zeus y 
                Poseidón.</p>
               <img src="/img/Percy Jackson y el ladrón del rayo.webp" alt="Percy Jackson y el ladrón del rayo"> 
            </article> 
        </section>
    </main>
    <footer>
        <h4>Punto de lectura 2024</h4>
      </footer>
</body>
</html>