<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Romance</title>
    <link rel="stylesheet" href="/css/romance.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Sedan+SC&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Libros de Romance</h1>
    </header>
    <nav>
       <a href="/index.html">Punto de lectura</a>
    </nav>
    <main>
        <section>

            <h2>El amor en los tiempos del cólera</h2>
            <article>
               <p> El amor en los tiempos del cólera es una novela del escritor colombiano Gabriel García Márquez, publicada en 1985. 
                Es una novela dedicada al verdadero amor que perdura y supera las adversidades toda una vida. Es un homenaje al amor, 
                las aventuras, el tiempo, la vejez y la muerte.</p>
                <img src="/img/El amor en los tiempos del cólera.webp" alt="El amor en los tiempos del cólera">
            </article>

        </section>

        <section>
            <h2>Cumbres borrascosas</h2>
            <article>
            <p>Cumbres Borrascosas (título original en inglés: Wuthering Heights) es la única novela de Emily Brontë. Fue publicada por primera vez en 1847 bajo el seudónimo de Ellis Bell
                Esta novela gótica se sumerge en pasiones intensas y tormentosas, personificadas en la relación entre Heathcliff y Catherine. 
                La historia abarca generaciones y refleja cómo el amor puede ser destructivo y obsesivo. 'Cumbres borrascosas' explora la 
                dualidad del amor y el odio, la lucha de clases y la influencia del entorno en la naturaleza de las relaciones.</p>
                <img src="/img/Cumbres borrascosas.jpg" alt="Cumbres borrascosas">
            </article>
        </section>
    </main>
    <footer>
        <h4>Punto de lectura 2024</h4>
      </footer>
</body>
</html>