<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>terror</title> 
    <link rel="stylesheet" href="/css/terror.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Oswald:wght@200..700&family=Sedan+SC&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <h1>Libros de Terror</h1>
    </header>
    <nav>
        <a href="/index.html">Punto de lectura</a>
    </nav>
    <main>
        <section>
            <h2>It/Stephen King</h2>
            <article>
              <p>It (en español, «Eso») es una novela de terror publicada en 1986 por el escritor estadounidense Stephen King. 
                Cuenta la historia, en un juego de correspondencias con el pasado y el presente, de un grupo de siete amigos que 
                son perseguidos por una entidad sobrenatural, al que llaman «Eso», que es capaz de cambiar de forma y se alimenta 
                principalmente del terror que produce en sus víctimas. La narración orbita en torno a la localidad ficticia de Derry
                (Maine) y la inexplicable aura de horror y muerte que la rodea.</p>  
                <img src="/img/it.jpg" alt="It">
            </article>
        </section>
        
        <section>
            <h2 class="Cthulhu">La llamada de Cthulhu</h2>
            <article>
                <p>La llamada de Cthulhu (The Call of Cthulhu en inglés) es un relato corto en estructura de novelette escrito por 
                    H. P. Lovecraft en el año 1926. La obra fue publicada por primera vez en febrero de 1928 por la editorial de pulp Weird
                     Tales.Cthulhu hace su primera aparición en este relato, convirtiéndose en una figura central del ciclo literario de 
                     los Mitos de Cthulhu. Para la mayor parte de los críticos es el inicio del horror cósmico de dicho ciclo.</p>
                     <img src="/img/La llamada de cthulhu.jpg" alt="La llamada de Cthulhu">
            </article>
        </section>
    </main>
    <footer>
        <h4>Punto de lectura 2024</h4>
      </footer>
</body>
</html>